<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components</title>
    <link rel="stylesheet" href="components.css">
  

 

</head>
<body>

    <header class="header__logo">
        <nav class="navbar__logo">
            <img src="/img/bonz.ai-logo-color-portrait.png" alt="" class="logo">
        </nav>
    </header>

    <header class="header__input">
        <nav class="navbar__input">
           <img src="/img/icons8-menu-30.png" alt="" id="menu-icon">
           <input type="text" class="navbar__input--input" value="Vart vill du bo?">
           <input type="datetime-local" class="navbar__input--input">
           <input type="text" class="navbar__input--input" value="Personer och rum">
           <a href="/bokingsida.html"> <button class="card__button--search">Sök</button></a>
        </nav>
    </header>


    <button class="card__button--search">Sök</button>
    <button class="card__button--order">Boka</button>

    <h1 class="heading">Rubrik</h1>

    <p class="body--text">Brödtext</p>

    <article class="card">
        <img src="/img/01-day.jpg" alt="" class="card__photo">
        <p class="card__text"> <span id="room">Premium </span><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt corrupti fugiat aspernatur blanditiis vitae 
        culpa excepturi molestiae dolorum explicabo repudiandae quaerat perferendis dignissimos, eos ipsam at est enim et animi. <br>  <span id="price">1200:-</span> 
        </p>
        <button class="card__button--order card__button">Boka</button>

    </article>

    <article class="info--card">
        <h3 class="info--card__heading">Lorem</h3>
        <p class="info--card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus excepturi nisi ab at. Architecto quae
        adipisci exercitationem iure dolore in facere placeat, pariatur praesentium rem recusandae sit esse molestiae fuga!
    </p>
    </article>

 
    <footer class="footer">
        <p>Om Oss <br> 
        Hitta hit <br>
         Priser <br> 
        </p>
        <p>Kontakta Oss <br> 
        Boka spa <br> 
        Frukostmenyn
        </p>
        <p>
        <img src="/img/icons8-facebook-50 (1).png" alt="" class="social-icon"> <br> 
        <img src="/img/icons8-instagram-50.png" alt="" class="social-icon"> <br>
        <img src="/img/icons8-tiktok-50.png" alt="" class="social-icon">
         </p>
    </footer>



</body>
</html>